.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin: 18px 18px 6px 0;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  text-decoration: underline;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    margin: 14px 18px 0px 0;
    font-size: 18px;
    line-height: 20px;
  }
}