.page {
  margin: auto;
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 1280px;
  min-width: 320px;
}

.border {
  border: 1px solid red;
  font-size: 25px;
  font-weight: 400;
}