.cover__subtitle {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 360px;
  
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  
  z-index: 20;
}