.lead__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 96px;
  max-width: 720px;
  line-height: 100px;
  text-align: center
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
  }
}