.place__link {
  margin-top: 12px;
  margin-bottom: 0;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .place__link {
    padding-left: 16px;
    padding-right: 16px;
  }
}