.cover__overlay {
  margin: auto;
  width: 100%;
  /* height: calc(100vw / 1.6); */
  min-height: 740px;
  text-decoration: none;
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    /* height: 740px; */
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    /* height: 740px; */
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    /* height: 740px; */
    min-height: 320px;
  }
}